* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-family: "Chronicle Display", sans-serif;
}
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}
.header_content {
	padding: 40px 80px;
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 20px;
	font-weight: 600;
}
.logoOne {
	font-family: serif;
	font-size: 32px;
}
.followSect {
	position: fixed;
	left: 0;
	width: 100%;
	top: 30%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	/* align-items: start; */
	padding: 0 80px;
}
.sideBox.rotate {
	transform-origin: left;
	transform: rotate(90deg) translateX(-100px);
}
.sideBox {
	display: flex;
	align-items: center;
	gap: 30px;
	color: white;
	font-weight: 600;
	font-size: 18px;
}
.pageList {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.pageItem {
	padding: 30px;
}

.lineBar {
	height: 100%;
	width: 3px;
	background: #ffffff34;
	position: relative;
}
.activeLine {
	width: 100%;
	position: absolute;
	height: 25%;
	background: #ffffff;
	left: 0;
	top: 0;
}
.nav_link {
	color: white;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
}
.nav_list {
	display: flex;
	gap: 25px;
	list-style: none;
}

.preview {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.preview_bg {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.lineYellow {
	display: block;
	width: 72px;
	height: 2px;
	z-index: 5;
	background: yellow;
	/* left: 0; */
	/* position: absolute; */
	/* transform: rotate(90deg); */
}

.preview_content {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
	z-index: 5;
	max-width: 950px;
	color: yellow;
	width: 100%;
	font-weight: 100;
	letter-spacing: 10px;
}

.preview_content2 {
	position: relative;
	z-index: 5;
	max-width: 950px;
	color: white;
	margin-top: 32px;
	font-size: 80px;
	font-weight: 500;
}

.preview_content3 {
	display: flex;
	gap: 15px;
	position: relative;
	z-index: 5;
	max-width: 950px;
	color: white;
	margin-top: 30px;
	font-size: 20px;
	width: 100%;
	font-weight: 700;
}

.firstList {
	position: relative;
	height: 60vh;
	/* width: 100vw; */
}

.fr {
	position: absolute;
	/* height: 100%; */
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.fr1 {
	z-index: 1;
}
.fr2 {
	top: 450px;
	z-index: 2;
}

.fr3 {
	top: 750px;
	z-index: 3;
}
.fr4 {
	z-index: 4;
}
.preview {
}

.account {
	display: flex;
	align-items: center;
	gap: 15px;
}

.icons {
	transform-origin: center;
	transform: rotate(-90deg);
}

.started {
	/* background: linear-gradient(
		0,
		rgba(11, 29, 38, 1) 80%,
		rgba(11, 29, 38, 0.75),
		rgba(11, 29, 38, 0) 100%
	); */
	background: linear-gradient(
		180deg,
		rgba(11, 29, 38, 0),
		rgba(11, 29, 38, 0.75) 100px,
		rgba(11, 29, 38, 1) 200px
	);
	/* background: #0b1d26; */
	/* box-shadow: 0 -20px 150px 150px #0b1d26; */
	/* height: 1000px; */
	position: relative;
	z-index: 5;
	margin-top: 300px;
	padding-top: 120px;
}

.container {
	max-width: 1420px;
	width: 100%;
	margin: 0 auto;
}
.wrapper {
	position: relative;
	padding-left: 140px;
}
.Text1 {
	position: absolute;
	top: -75px;
	left: 0;
	/* height: 240px; */
	/* width: 240px; */
	opacity: 0.1;
	font-size: 240px;
	font-weight: 600;
	color: white;
	/* padding-top: 75px; */
	font-family: sans-serif;
}
.allCards {
	display: flex;
	flex-direction: column;
	gap: 160px;
	align-items: center;
	justify-content: center;
}
.preview_content55 {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
	z-index: 5;
	max-width: 950px;
	color: yellow;
	width: 100%;
	font-weight: 100;
	letter-spacing: 10px;
	margin-top: 50px;
}

.text2 {
	color: white;
	font-size: 60px;
	width: 555px;
	margin-top: 30px;
}

.text3 {
	color: white;
	width: 632px;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 400;
	gap: 10px;
	line-height: 40px;
}

.text4 {
	color: yellow;
	display: flex;
	gap: 15px;
	position: relative;
	z-index: 5;
	max-width: 950px;
	margin-top: 30px;
	font-size: 20px;
	width: 100%;
	font-weight: 200;
}

.strelka path {
	fill: yellow;
}
.strelka {
	transform: rotate(-90deg);
	transform-origin: center;
}

.dad {
	display: flex;
	justify-content: space-between;
	/* gap: 300px; */
	width: 100%;
}

.dad:nth-child(2n) {
	flex-direction: row-reverse;
}
.dad:nth-child(2n) .wrapper {
	padding-left: 0px;
}
.dad:nth-child(2n) .wrapper .Text1 {
	left: -150px;
}
.img1 {
	width: 566px;
	height: 720px;
}

.noStarted {
	background: rgba(11, 29, 38, 1);
	position: relative;
	z-index: 5;
	padding-top: 120px;
}

.end {
	background: rgba(11, 29, 38);
}

.textEnd {
	color: white;
	width: 340px;
}

.textEnd1 {
	font-size: 30px;
}

.textEnd2 {
	margin-top: 20px;
	letter-spacing: 2px;
	line-height: 30px;
}

.textEnd3 {
	margin-top: 122px;
	color: gray;
	font-weight: 100;
}

.nav_list2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	margin-top: 20px;
	width: 285px;
	margin-bottom: 100px;
	font-weight: 100;
	line-height: 10px;
}

.end {
	padding-top: 200px;
}

.end2 {
	display: flex;
}

.textEnd99 {
	color: yellow;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.textEnd99 {
	font-size: 20px;
}

.navWrapper {
}
@media (max-width: );
